{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    <style>

        {# estilo de los titulos de cada app #}
        .module h2, .module caption, .inline-group h2 {
            margin: 0;
            padding: 8px;
            font-weight: 400;
            font-size: 13px;
            text-align: left;
            /*background: #f3c3d3;*/
            background: #337ab7;
            color: #fefefe;
        }

        #branding h1, #branding h1 a:link, #branding h1 a:visited {
            color: #fefefe;
        }

        {# estilo de la barra principal #}
        #header {
            width: auto;
            height: 40px;
            padding: 10px 40px;
            background: #333333;
            line-height: 40px;
            color: #9d9d9d;
            overflow: hidden;
        }

        {# estilo de la miga de pan #}
        div.breadcrumbs {
            background: #337ab7;
            padding: 10px 40px;
            border: none;
            font-size: 14px;
            color: #ffffff;
            text-align: left;
        }

        {# estilo de los enlaces #}
        a:link, a:visited {
            color: #333333;
            text-decoration: none;
        }

        a:focus, a:hover {
            color: #9e9e9e;
        }

        {# Estilo de la lista de list_filter  #}
        #changelist-filter li.selected a {
            color: #2c2c2c !important;
        }

        #changelist-filter li.selected a {
            color: #2c2c2c !important;
            font-weight: bold;
        }

        #changelist-filter a:focus, #changelist-filter a:hover,
        #changelist-filter li.selected a:focus,
        #changelist-filter li.selected a:hover {
            color: #2c2c2c !important;
        }

        {# estilo del boton grabar #}
        .button.default, input[type=submit].default, .submit-row input.default {
            float: right;
            border: none;
            font-weight: 400;
            background: #337ab7;
        }

        .button.default:active, input[type=submit].default:active,
        .button.default:focus, input[type=submit].default:focus,
        .button.default:hover, input[type=submit].default:hover {
            background: #64b5f6;
        }

        {# estilo de botones continuar editando y añadir otro #}
        .button, input[type=submit], input[type=button], .submit-row input, a.button {
            background: #A8A8A8;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
        }

        .button:active, input[type=submit]:active, input[type=button]:active,
        .button:focus, input[type=submit]:focus, input[type=button]:focus,
        .button:hover, input[type=submit]:hover, input[type=button]:hover {
            background: #6B6B6B;
        }

        {# estilo boton historico #}
        .object-tools a:focus, .object-tools a:hover {
            background-color: #2c2c2c;
        }

        {# estilos del calendario #}
        .calendar caption, .calendarbox h2 {
            margin: 0;
            text-align: center;
            border-top: none;
            background: #337ab7 !important;
            font-weight: 700;
            font-size: 12px;
            color: #fefefe !important;
        }

        {# Boton añadir modelo #}
        .object-tools a:link, .object-tools a:visited {
            display: block;
            float: left;
            padding: 3px 12px;
            background: #333333;
            font-weight: 400;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #fff;
        }

        .object-tools a:focus, .object-tools a:hover {
            background-color: #999999;
        }
    </style>
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    {{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}