{% extends 'base.html' %}
{% load static %}

{# TITULO DE LA PAGINA #}
{% block titulo %}
    Nosotros
{% endblock %}

{# CSS ADICIONALES QUE NECESITE ESTA PAGINA #}
{% block css %}
{% endblock %}

{# CONTENIDO DE ESTA PAGINA #}
{% block contenido %}
<div class="row" style="padding-top: 4%;">

    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h1>Contactanos</h1></div>
            <div class="panel-body">
                <form action="{% url 'enviar_correo' %}" id="enviar-mensaje" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nombres">Nombres</label>
                                <input type="text" name="nombre" class="form-control" id="nombres" placeholder="Nombres" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" name="apellido" class="form-control" id="apellidos" placeholder="Apellidos" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="correo">Correo</label>
                                <input type="email" name="correo" class="form-control" id="correo" placeholder="Correo Electrónico" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="mensaje">Mensaje</label>
                                <textarea class="form-control" name="mensaje" id="mensaje" placeholder="Dejanos tu inquietud aqui" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary">Enviar Mensaje</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $()
</script>
{% endblock %}