{% extends 'base.html' %}
{% load static %}

{# TITULO DE LA PAGINA #}
{% block titulo %}
    Nosotros
{% endblock %}

{# CSS ADICIONALES QUE NECESITE ESTA PAGINA #}
{% block css %}
{% endblock %}

{# CONTENIDO DE ESTA PAGINA #}
{% block contenido %}
<div class="jumbotron">
    <h1>Mensaje enviado!</h1>
    <p>
        Tu mensaje ha sido enviado. Nos pondremos en contacto contigo <br>
        tan pronto como sea posible.
    </p>
    <p><a class="btn btn-lg btn-primary" href="{% url 'index' %}">Regresar a mapa de infestación</a></p>
</div>
{% endblock %}