{% extends 'base.html' %}
{% load static %}

{# TITULO DE LA PAGINA #}
{% block titulo %}
    Mapa de Infestación
{% endblock %}

{# CSS ADICIONALES QUE NECESITE ESTA PAGINA #}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/ol.css' %}">
    <link rel="stylesheet" href="{% static 'css/ol3-layerswitcher.css' %}">
{% endblock %}

{# CONTENIDO DE ESTA PAGINA #}
{% block contenido %}
<div class="container-fluid">
    <div style="width: 100%; height: 500px" id="map" class="map"></div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/ol.js' %}"></script>
    <script src="{% static 'js/ol3-layerswitcher.js' %}"></script>
    <script src="{% static 'js/mapa_multiple.js' %}"></script>
{% endblock %}